<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>LunchPlanner.html</welcome-file>
  </welcome-file-list>
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>lunchPlanner.server.GreetingServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>voteServlet</servlet-name>
    <servlet-class>lunchPlanner.server.VoteServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/lunchplanner/greet</url-pattern>
  </servlet-mapping>
	
  <servlet-mapping>
    <servlet-name>voteServlet</servlet-name>
    <url-pattern>/lunchplanner/vote</url-pattern>
  </servlet-mapping>
</web-app>
